.App {
  text-align: center;
}

.ratingCircle {
  display: flex;
  background-color: rgb(95, 205, 95);
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.913);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
}

.ratingcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vh;
  width: 250px;
  min-height: 300px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  
  h1 {
    margin-top: 5px;
    font-weight: bold;
    font-size:20px;
  }
}

img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}
